@using PresentationLayer.Models;
@*@model HelloModel*@

@*@model List<DataLayer.Entityes.Directory>*@
@model List<DirectoryViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @*<h1>@Model.HelloMessage</h1>*@
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <h2>@item.Directory.Title</h2>
                    <ul>
                        @if (item.Materials != null)
                        {
                            foreach (var subItem in item.Materials)
                            {
                                <li>@subItem.Material.Title</li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>